<header *ngIf="header">
  <afs-banner [src]="'fs/v1/pages/' + path" [top]="headerTop"></afs-banner>
</header>

<div class="mdl-grid m-pages" style="max-width:900px">

<!--  <div class="mdl-cell mdl-cell&#45;&#45;4-col mdl-color&#45;&#45;white mdl-shadow&#45;&#45;2dp">
    <ul class="m-content-sidebar-nav">
      <li *ngFor="let page of pages | listable" class="m-content-sidebar-nav-item">
        <a
          [routerLink]="['/' + page.path]"
          [ngClass]="{'is-active': path == page.path }">
          {{page.title}}
        </a>
      </li>
    </ul>
  </div>-->

  <div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp forPagesContent">
      <h1>{{title}}</h1>
      <div [innerHtml]="body"></div>
  </div>

</div>
