<div class="m-monetization--terms">
  <h3>قوانین شبکه آی تیمچه</h3>
  <p></p>
  <h4>قوانین کلی محتواگذاری</h4>
  <p>
    •	قرار دادن هر گونه لینک یا نظر با محتوای اهانت به دیگران و یا تمسخر آن‌ها تخلف محسوب می‌شود.
  </p>
  <p>
    •	انتشار هرگونه محتوای علیه امنیت ملی و آسایش عمومی، علیه مقامات و نهادهای دولتی و عمومی تخلف محسوب می‌شود. از مصادیق آن می توان به موارد زیر اشاره کرد:
  </p>

  <p>
    1.	نشر اکاذیب علیه مقامات رسمی و غیررسمیی (صریح یا غیرصریح) و وارد کردن لطمه به اساس و کیان جمهوری اسلامی.
  </p>
  <p>
    2.	اهانت و افترا به نهادها و سازمان‌های حکومتی و عمومی.
  </p>
  <p>
    3.	انتشار و فاش کردن اسرار و اسناد نهادهای رسمی کشور (اعم از نظامی و غیرنظامی).
  </p>
  <p>
    4.	طرح مسائل قومی و نژادی در جهت ایجاد شکاف بین قومیت‌ها و تلاش برای برهم زدن نظم و امنیت ملی.
  </p>
  <p>
    5.	راه اندازی و تشکیل گروه و تهدید به اقدامات رادیکال ، تروریستی و تبلیغ علیه نظام.
  </p>
  <p></p>
  <p>
    •	ارتکاب جرایم رایانه‌ای، کپی رایت و سایر جرایم تخلف می‌باشد. مصادیق:  </p>

  <p>
    1.	انتشار محتوای مغایر با شئونات اسلامی و عرف جامعه
  </p>
  <p>
    2.	تبلیغ و ترویج گروه ها و احزاب مغایر با مقرارت جمهوری اسلامی
  </p>
  <p>
    3.	تحریک و تشویق افراد به استفاده از مواد مخدر، روان‌گردان‌ها، خودکشی و اعمال خشونت آمیز.
  </p>
  <p>
    4.	تبلیغ برای انجام فعالیت‌های اقتصادی مجرمانه نظیر تأسیس و ترویج شرکت‌های هرمی.
  </p>
  <p>
    5.	انتشار و ارسال ویروس، فیلترشکن و آموزش روش‌های دور زدن فیلترینگ.
  </p>
  <p>
    6.	آموزش دسترسی و شنود غیرمجاز، جاسوسی، اخلال در سیستم‌های رایانه‌ای.
  </p>
  <p>
    •	قراردادن لینک و نظر تبلیغاتی تخلف محسوب می شود.
  </p>
  <p>
    •	تجسس و افشاء اسرار و اطلاعات خصوصی افراد تخلف محسوب می شود.
  </p>
  <p>
    •	استفاده از تصویر کاربری نامناسب تخلف محسوب می شود و منجر به غیرفعال سازی حساب کاربری متخلف خواهد شد.
  </p>
  <p></p>

  <h4>قوانین عضویت:</h4>
  <p>
    •	ثبت نام در سایت مستلزم درج اطلاعات واقعی نیست و ایجاد شناسه کاربری با استفاده از هویت واقعی یا مجازی دیگران تخلف محسوب شده و در صورت احراز آن برای مدیریت سایت،‌ آن شناسه کاربری غیرفعال می گردد.
  </p>

  <p>
    •	ایجاد شناسه‌ کاربری متعدد توسط یک شخص تخلف محسوب شده و در صورت احراز  برای مدیریت سایت، تمامی شناسه‌های کاربری غیرفعال می‌گردد.
  </p>
  <p>
    •	استفاده از شناسه‌ کاربری نامناسب و توهین‌آمیز مجاز نمی باشد.
  </p>
  <p>
    •	عضویت در شبکه آی تیمچه بمعنای پذیرش کلیه شرایط و موازین این سایت می باشد.
  </p>
  <p>
    •	حساب‌های کاربری افرادی که با اطلاعات نامعتبر و یا غلط در جهت فریب سیستم و یا کاربران در سایت فعالیت دارند غیر قابل قبول بوده و عضویت آنها تعلیق خواهد شد.
  </p>
  <p></p>

  <h4>قوانین کاربری:</h4>
  <p>
    •	مسئولیت حفظ رمز عبور بر عهده کاربر می باشد و در صورتی که کاربر کلمه رمز عبور خود را فراموش کرده باشد میتواند آنرا از قسمت "فراموشی رمز عبور" دریافت نمایند و  مدیران شبکه آی تیمچه به هیچ وجه اطلاعات کاربری را بصورت دستی در اختیار هیچ یک از کاربران قرار نمی دهند.
  </p>
  <p>
    •	در شبکه آی تیمچه کاربران فقط قادر به مشاهده اطلاعات عمومی اعضا می باشند و اطلاعات خصوصی اعضا ( از جمله آدرس ایمیل و شماره همراه) به هیچ یک از کاربران نمایش داده نمی شود.
  </p>
  <p>
    •	اعضای شبکه آی تیمچه موظفند علاوه بر رعایت مقررات سایت شبکه آی تیمچه از تمامی قوانین جرائم رایانه ای نیز پیروی نمایند.
  </p>
  <p>
    •	مسئولیت درج بدون مجوز مطالبی که دارای حقوق مالکیت معنوی می باشند بر عهده کاربر می باشد و سایت شبکه آی تیمچه هیچ مسئولیتی در قبال آن بر عهده ندارد.
  </p>
  <p>
    •	اعضای شبکه آی تیمچه می توانند برای ارسال انتقادات، پیشنهادات، ایده ها و مشکلات سایت از طریق فرم تماس با مدیر و یا ایمیل contact@shahrekhuban.ir اقدام نمایند.
  </p>
</div>
