<div [hidden]="services.length > 0 || error" style="width:100%; text-align:center; ">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
</div>

<div class="m-error-splash" *ngIf="error && !inProgress">
  <h3 class="mdl-color-text--red-300">{{error}}</h3>
  <span class="mdl-color-text--blue-grey-300" i18n="@@M__COMMON__PLEASE_TRY_AGAIN">لطفآ دوباره سعی کنید .</span>
</div>

<div class="m-service-view" *ngFor="let service of services; let i = index">
  <m-service-view [service]="service" [index]="i"></m-service-view>
</div>

<infinite-scroll
    distance="25%"
    (load)="loadNextService()"
    [moreData]="moreData"
    [inProgress]="inProgress"
    *ngIf="services.length >= 1">
</infinite-scroll>
