<afs-media-theatre [object]="entity" *ngIf="entity && entity.subtype == 'image'"></afs-media-theatre>
<afs-media-thumbnail-selector (thumbnail)="setThumbnail($event)" [thumbnailSec]="entity.thumbnail" [src]="[{ uri: entity.src['720.mp4']}]"  *ngIf="entity && entity.subtype == 'video'">></afs-media-thumbnail-selector>

<div class="mdl-grid media-grid" style="max-width:900px" *ngIf="error">
  <h1>{{error}}</h1>
</div>

<form (submit)="save()" class="mdl-grid media-grid" style="max-width:90%">

  <div class="mdl-cell mdl-cell--12-col afs-media-title forTextareaMedia" [mdl]>
    <textarea
            class="m-h1-input"
            style="resize: none;width: 100%;"
            type="text"
            id="name"
            name="name"
            [(ngModel)]="entity.title"
            [autoGrow]
            placeholder="عنوان..."
            i18n-placeholder
    ></textarea>
    <label class="mdl-textfield__label" for="name">{{entity.title}}</label>
  </div>

  <div class="mdl-cell mdl-cell--12-col m-additional-block mdl-color-text--blue-grey-200">
    <div class="m-license-info">
      <i class="material-icons">public</i>
      <select name="defaultCategory" [(ngModel)]="selectedCategory" class="mdl-color-text--blue-grey-300 m-form-select forMediaEditForm">
        <option *ngFor="let c of categories" [value]="c.value">{{c.text}}</option>
      </select>

    </div>
    <div class="m-visibility-info">
      <i class="material-icons">visibility</i>
      <select name="access_id" [ngModel]="entity.access_id" (change)="entity.access_id = $event.target.value" class="mdl-color-text--blue-grey-300 m-form-select forMediaEditForm">
        <option *ngFor="let a of access" [value]="a.value">{{a.text}}</option>
      </select>
    </div>

    <button class="mdl-button mdl-button--raised mdl-button--colored" i18n>ذخیره مطلب</button>
  </div>

  <div class="mdl-cell mdl-cell--12-col" >
    <afs-tinymce [(content)]="entity.description"></afs-tinymce>
  </div>

  
</form>