.m-admin--media-requests{
  .m-admin--media-requests-info{
    padding: 16px;
    ul,li{
      margin: 0;
      padding: 0;
    }
  }

  .m-admin--media-requests-cta{
    padding: 16px;
  }

}
