<nav class="forNavTop" *ngIf="session.isLoggedIn()">
    <a *ngFor="let item of navigation.getItems('topbar')" class="mdl-color-text--blue-grey-500" [routerLink]="[item.path, item.params]">
      <ng-container *ngIf="item.name == 'Notifications'">
        <i class="material-icons" [ngClass]="{'mdl-color-text--amber-300' : item.extras?.counter > 0 && item.name == 'Notifications'}">{{item.icon}}</i>
        <span id="{{item.name | lowercase}}-counter" class="counter mdl-color-text--green-400" *ngIf="item.extras">{{item.extras?.counter | abbr}}</span>
      </ng-container>
    </a>
</nav>