<div class="mdl-grid forForgotPasswordForm" style="max-width:360px">

    <div class="mdl-cell mdl-cell--12-col" [hidden]="!error">
          <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp afs-login-box" style="min-height:0;">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                {{error}}
              </div>
          </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col" >

      <div class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp" *ngIf="step == 1">
          <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
              <!-- i18n -->برای درخواست رمز عبور جدید، نام کاربری خود را وارد کنید<!-- /i18n -->

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
              <input class="mdl-textfield__input"
                      type="text"
                      id="username"
                      #username
                      (keydown.enter)="request(username)"
                  />
              <label class="mdl-textfield__label mdl-color-text--blue-grey-50"  for="username" i18n>نام کاربری</label>
            </div>
            <button class="mdl-button mdl-button--raised mdl-color--blue-grey-200" (click)="request(username)" [disabled]="inProgress" i18n>ادامه</button>
          </div>

        </div>


        <div class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp" *ngIf="step == 2">
          <div class="mdl-card__supporting-text">یک کد به شماره تلفنی که با آن ثبت نام کرده اید، ارسال شد
          </div>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                <input class="mdl-textfield__input"
                        type="text"
                        id="verify" 
						#verify
                    />
                <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="verify">کد بازیابی رمز عبور</label>
            </div>
            <div></div>

            <button class="mdl-button mdl-button--raised mdl-color--blue-grey-200" (click)="verifyCode(verify)" [disabled]="inProgress">بررسی کد</button>
        </div>


        <div class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp" *ngIf="step == 3 && !error">
          
		  
		  
		  <div class="mdl-card__supporting-text  mdl-color-text--blue-grey-50">رمز عبور جدید را وارد نمایید
          </div>

          <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                <input class="mdl-textfield__input"
                        type="password"
                        id="password"
                        #password
                    />
                <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="password">رمز عبور</label>
            </div>
            <div></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdl]>
                <input class="mdl-textfield__input"
                        type="password"
                        id="password2"
                        #password2
                        (keydown.enter)="password == password2 ? reset(password2) : null"
                    />
                <label class="mdl-textfield__label mdl-color-text--blue-grey-50" for="password2">تایید رمز عبور</label>
            </div>
            <div></div>

            <button class="mdl-button mdl-button--raised mdl-color--blue-grey-200" (click)="reset(password2)" [disabled]="inProgress">تغییر رمز عبور</button>

           </div>
        </div>
    </div>
</div>